In [12]:
import pandas as pd
data=r'C:\Users\RICHA\Desktop' + "\\"
data=pd.read_csv(data+r'gender.csv')
data

       Gender Current Status
0           M      Recovered
1           M      Recovered
2           F      Recovered
3           M      Recovered
4           M   Hospitalized
...       ...            ...
112855      M       Deceased
112856      F       Deceased
112857      M       Deceased
112858      M       Deceased
112859      M       Deceased

[112860 rows x 2 columns]

In [14]:
contingency_table=pd.crosstab(data["Gender"],data["Current Status"])
print('contingency_table :-\n',contingency_table)

contingency_table :-
 Current Status  Deceased  Hospitalized  Recovered
Gender
F                   2636         36200        227
M                   5993         67529        275

In [15]:
Observed_Values = contingency_table.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[ 2636 36200   227]
 [ 5993 67529   275]]

In [16]:
import scipy.stats
b=scipy.stats.chi2_contingency(contingency_table)
Expected_Values = b[3]
print("Expected Values :-\n",Expected_Values)

Expected Values :-
 [[ 2986.66158958 35902.58662945   173.75178097]
 [ 5642.33841042 67826.41337055   328.24821903]]

In [17]:
no_of_rows=len(contingency_table.iloc[0:2,0])
no_of_columns=len(contingency_table.iloc[0,0:2])
df=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",df)

Degree of Freedom:- 1

In [18]:
alpha=0.05

In [19]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 66.73178969101775

In [20]:
critical_value=chi2.ppf(q=1-alpha,df=df)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [21]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=df)
print('p-value:',p_value)

p-value: 3.3306690738754696e-16

In [22]:
print('Significance level: ',alpha)
print('Degree of Freedom: ',df)
print('chi-square statistic:',chi_square_statistic)
print('critical_value:',critical_value)
print('p-value:',p_value)

Significance level:  0.05
Degree of Freedom:  1
chi-square statistic: 66.73178969101775
critical_value: 3.841458820694124
p-value: 3.3306690738754696e-16

In [23]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Reject H0,There is a relationship between 2 categorical variables
Reject H0,There is a relationship between 2 categorical variables